body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.rida {
    display: flex;
    justify-content: space-around; 
    padding: 20px; 
    }

.kast {
    width: 220px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gold; 
}

.info {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; /*vahe info ja teksti vahel*/
    text-align: left; 
    padding: 20px; 
    border: 2px solid gold;
    border-radius: 10px;
    background-color: white;
}




.kast button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 2px solid gold;
    background-color: lightgray;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.kast button:hover {
    background-color: gold;
    color: white;
}


