body {
    margin: 0;
    overflow: hidden;
}



.lingid {
    overflow: hidden;
    background-color: #333;
}

.lingid a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  .lingid a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
  }

.column.info {
    text-align: center; 
    width: 30%;
    border: 2px solid gold;
    border-radius: 10px;
    background-color: white;
}

.column.tyhi {
    width: 70%;
    height: 5px;
}

.column.liigid {
    width: 30%;
    size: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    background-color: white;
  }

.column.joogid {
    width: 100%;
    height: 20%;
}

  @media screen and (max-width: 600px) {
    .column.info, .column.tyhi {
      width: 100%;
      height: 100%;
    }
  }


.column.sisu {
    width:100%;
    height: 180px
}

img {

    height: 130px;
    width:114px;
    margin-top: 20px;
    justify-content: space-around;
    object-fit: cover;
    border: 5px solid rgb(78, 78, 128);

}


#viin, #tekiila, #rumm, #viski, #brandi, #likoorid, #kokteilid, #vein, #olu, #dzinn {
    text-align:center;
    left: 300px;
    top: -270px;
    padding: 35px;
    background-color: white;
    font-family: "Segoe UI";
    width: 55%;
}


.rida {
    display: flex;
    justify-content: space-around; 
    padding: 5px; 
}


.kast {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gold; 
}


.kast button {

    padding: 1px 10px;
    margin: auto;
    border: 2px solid gold;
    width: 300px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

p {
    text-align: center;
    size: 13px;
}

h1 {
    text-align: center;
}

h2 {
    color:rgb(78, 78, 128); font-size:15px; font-family:Georgia, 'Times New Roman', Times, serif
}