body {
    font-family: "Garamond", serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-button {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin: 15px;
    padding: 10px 30px;
    font-size: 1rem;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 1.2s ease;
    transition: background-color 1.2s ease;
}

.menu-button:hover {
    color: #ffffff;
    background-color: #4b4b4b;
    text-decoration: underline;
}

.menu-container {
    display: none;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item span {
    font-size: 1rem;
}

.menu-item span:first-child {
    font-weight: bold;
}


.lingid {
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: stretch;
}

.lingid a {
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.lingid a:hover {
    background-color: #ddd;
    color: black;
}

.lingid img {
    padding: 4px;
}
