
body {background-color: blanchedalmond;}


h1 {
    color:green; font-size:30px; font-family:Georgia, 'Times New Roman', Times, serif
}

p, ul {color:black; font-size:21px; font-family: 'Candara', monospace; text-align:left}

img {border: 50px rgb(222, 27, 27)}

th {
    color:red
}
td {
    color:green
}


body {
    background-color: blanchedalmond;
}

/* .split {
    height:100%;
    width:50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top:20px;
}

.vasak {
    left:0;
}
.parem {
    right:0
}

p {
    text-align: left;
    align-self: auto;
    border: 3px solid gold;
} */